*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
header {
  display: block;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1158px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.header {
  border-bottom: 1px solid rgba(231, 233, 252, 1);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header_container {
  display: flex;
}
.header_nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.menu-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
  align-items: center;
}
.header_address {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header_ul_address {
  display: flex;
  gap: 40px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS, #4d5ae5);
  margin-right: 76px;
  text-decoration: none;
}
.logo_studio {
  color: #2e2f42;
}
.li_link {
  color: #404bbf;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  position: relative;
  color: #2e2f42;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
  border-bottom: 4px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current:hover::after,
.current:focus::after {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li_link:hover,
.li_link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address {
  font-style: normal;
}
.contact {
  font-family: "Roboto", sans-serif;
  font-style: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover,
.contact:focus {
  color: #404bbf;
}
.section_one {
  background: #2e2f42;
  padding: 188px 0;
  flex-shrink: 0;
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/section_one/people_office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header_one {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 1.12px;
  font-size: 56px;
  line-height: 1.07;
  display: block;
  max-width: 496px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;
  border: none;
  display: block;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: var(--OCEAN, #404bbf);
}
.section_two {
  padding: 120px 0;
  display: block;
}
.header_three_section_two {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: rgba(46, 47, 66, 1);
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}
.section_two_ul {
  display: flex;
  gap: 24px;
}
.section_two_li {
  width: calc((100% - 72px) / 4);
}

.paragraph_section_two {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: rgba(67, 68, 85, 1);
}
.section_three {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.section_three_ul {
  display: flex;
  gap: 24px;
}
.li_section_three {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.header_two_section_three {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  font-weight: 700;
  margin-bottom: 72px;
}
.team_dev {
  padding: 32px 0;
}
.header_three_section_three {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: rgba(46, 47, 66, 1);
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
}

.paragraph_section_three {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: rgba(67, 68, 85, 1);
  text-align: center;
  margin-bottom: 8px;
}
.section_four {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section_four_ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.section_four_ul:hover {
  transform: translateY(0%);
}
.section_four_li {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section_four_li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.services {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.img_block {
  position: relative;
  overflow: hidden;
}
.section_four_li:hover .img_portfolio {
  transform: translateY(0);
}
.img_portfolio {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header_two_section_four {
  color: #2e2f42;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.header_three_section_four {
  color: #2e2f42;
  letter-spacing: 0.4px;
  line-height: 1.2;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
}
.paragraph_section_four {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}
.footer {
  background-color: rgba(46, 47, 66, 1);
  padding: 100px 0;
}
.footer .container {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.footer_logo_first {
  margin-right: 120px;
}
.logo_footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}
.logo_studio_footer {
  color: #f4f4fd;
}
.paragraph_footer {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  line-height: 1.5;
  width: 264px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*/        Icons           /*/
.section_two_icon {
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  margin-bottom: 8px;
}

.icons_team {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
}

.icons_li {
  width: 40px;
  height: 40px;
}

.icons_a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  fill: var(--IRIS, #f4f4fd);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons_a:hover,
.icons_a:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons_footer {
  margin-right: 120px;
}
.icons_footer_p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.icons_footer_ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style: none;
}
.icons_footer_li {
  width: 40px;
  height: 40px;
}
.icons_footer_a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  fill: var(--IRIS, #f4f4fd);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons_footer_a:hover,
.icons_footer_a:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*/  Footer form /*/

.subscribe_footer {
  display: flex-start;
  justify-content: center;
}
.subscribe_p_footer {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.form_footer {
  display: flex;
  gap: 24px;
}

.input_footer {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 264px;
  height: 40px;
  color: var(--WHITE, #fff);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.input_footer::placeholder {
  color: #ffffff;
}

.button_footer {
  display: flex;
  min-width: 165px;
  height: 40px;
  margin-left: 24px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  text-align: center;
  cursor: pointer;
  /* Button Text */
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button_footer:hover,
.button_footer:focus {
  background-color: #404bbf;
}

.icon_telegram {
  margin-left: 16px;
}

.form_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
}

.close_button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close_button:hover,
.close_button:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}

.icon_close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_p {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.form_div {
  margin-bottom: 8px;
}

.form_label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.label_div {
  position: relative;
}
.form_input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_input:focus {
  border-color: #4d5ae5;
}
.icon_svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_input:focus-within + .icon_svg {
  fill: #4d5ae5;
}
.form_label_textarea {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.form_textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_textarea:focus {
  border-color: #4d5ae5;
}
.form_comment {
  margin-bottom: 16px;
}
.checkbox_container {
  margin-bottom: 24px;
}
.checkbox_input:checked + .checkbox_text > .checkbox_span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox_text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox_span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.privacy_policy {
  color: var(--IRIS, #4d5ae5);
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.form_button_contacts {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.form_button_contacts:hover,
.form_button_contacts:focus {
  background: var(--OCEAN, #404bbf);
}
